<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Speech Recognition</title>
    </head>
<body>
<div id="speechContainer">
    <h1>Upload new File</h1>
    <br>
    <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <br>
    <input type="submit" value="Give me the text" />
     <br>
    </form>
{% if transcript!=""%}
</div id="speechTransciptContainer">
   <h1>Transcript</h1>
   <p>{{transcript}}</p>
</div>
{% endif %}
</body>
</html>
